<header>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{path('app_home')}}">Snow Tricks</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
					</li>
					{% if app.user and app.user.isverified %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_create')}}">Create Tricks</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">Register</a>
						</li>
					{% endif %}


					<li class="nav-item">
						<a class="nav-link" href="{{path (app.user ? 'app_logout' : 'app_login')}}">
							{{app.user? 'Logout' : 'Login'}}
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link text-capitalize" href="{{path('app_profile', {id:app.user.id, username:app.user.username})}}">
								{% if app.user.image %}
									<img src="{{app.user.image}}" alt="">
								{% else %}
									<i class="bi bi-person-circle"></i>
								{% endif %}
								{{app.user.username}}
							</a>
						</li>
					{% endif %}


				</ul>

			</div>
		</div>
	</nav>
</header>
