{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="row d-flex flex-row justify-content-md-between">
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
					<div class="card  mt-4 mb-4">
						<img src="{{user.image}}" class="d-block w-100" alt="user image">
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
					<h2 class="text-capitalize">{{user.username}}</h2>
				</div>
				{% if app.user and app.user==user  %}
					<a class="btn btn-primary" href="{{ path('app_profile_update', {id:user.id, username: user.username} ) }}" role="button">Update profile</a>
				{% endif %}

			</div>
		</div>
		<hr>
		<div class="row ">
			{% if tricks %}
				{% for trick in tricks %}
					<div class="col m-auto ">
						<div class="card mt-5" style="width: 14rem;">
							<a href="{{path('app_trick',{ title: trick.title}) }}" class="text-decoration-none arrow-color">
								{% for image in trick.images[:1] %}
									<img class="card-img-top" src="{{image.imagePath}}" alt="{{trick.title}}">
								{% endfor %}


							</a>
							<div class="card-body d-flex flex-md-row justify-content-md-between  ">
								<a href="{{path('app_trick',{ title: trick.title}) }}" class="text-decoration-none arrow-color">
									<h5 class="card-title text-secondary">{{trick.title}}</h5>
								</a>
								<div>
									{% if app.user and app.user==trick.user  %}
										<a class="link link-success text-decoration-none opacity-50" href="{{ path('app_update', {title: trick.title}) }}">
											<i class="bi bi-pencil-fill"></i>
										</a>
										<a class="link link-danger text-decoration-none opacity-50" href="{{ path('app_delete', { title: trick.title}) }}">
											<i class="bi bi-trash bi-danger"></i>
										</a>
									{% endif %}

								</div>

							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
