{% extends 'base.html.twig' %}

{% block title %}Hello Trick!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row ">
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">

					<div class="card  mt-4 mb-4">
						{% for image in trick.images %}
							<div class="carousel-inner">

								<div class="carousel-item active" data-bs-interval="10000">

									{% if app.user and app.user is same as trick.user %}
										<a href="{{path('app_delete_image', {id: image.id})}}" class="btn btn-danger position-absolute top-0 end-0">
											<i class="bi bi-x-circle-fill"></i>
										</a>
									{% endif %}

									<img src="{{image.imagePath}}" class="d-block w-100" alt="{{ trick.title }}">
									<div class="carousel-caption d-none d-md-block"></div>
								</div>
							</div>
						{% endfor %}
						{% for video in trick.videos %}
							{% if video.videoPath %}
								<iframe src="{{video.videoPath}}"></iframe>
							{% endif %}
							{% if video.videoEmbedCode %}
								{{video.videoEmbedCode | raw}}

							{% endif %}

						{% endfor %}


					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
					<h2>{{trick.title}}</h2>
					<p>
						Category:<strong class="text-capitalize">{{trick.category.name}}</strong>

					</p>
					<p class="text-capitalize">{{trick.description}}</p>
					<p>
						Created by:<strong class="text-capitalize">{{trick.user.username}}</strong>
					</p>
					<p>
						Created at:<strong>{{trick.creatAt|date("D-M-Y H:i:s ")}}</strong>
					</p>
				</div>
				{% if app.user and app.user==trick.user  %}
					<a class="btn btn-primary" href="{{ path('app_upload_file', {id: trick.id, title:trick.title}) }}" role="button">Upload file</a>
					<a class="btn btn-primary" href="{{ path('app_update', {id: trick.id, title:trick.title}) }}" role="button">Update</a>
					<a class="btn btn-danger " href="{{ path('app_delete', {id: trick.id, title:trick.title}) }}" role="button">Delete</a>
				{% endif %}

			</div>
		</div>
		<hr>
		<div class="row">
			<h2>Comments</h2>
			<div class="col text-center">
				{% for comment in comments %}
					<p class="text-capitalize">{{comment.comment}}</p>
					<div class="d-flex px-5  ">
						<p>
							Commented at:<strong class="text-capitalize">{{comment.createAt|date("D-M-Y H:i:s ")}}
							</strong>
							-By:<strong class="text-capitalize">{{comment.user.username}}</strong>
						</p>
						{% if comment.user.image %}
							<img src="{{comment.user.image}}" alt="">
						{% else %}
							<a href="#" class="link link-secondry ml-5">
								<i class="bi bi-person-circle"></i>
							</a>

						{% endif %}
					</p>


				</div>
				<hr>

			{% endfor %}
		</div>
		<div>
			{% if app.user %}
				{{ form_start(commentForm) }}
				{{form_row(commentForm.comment)}}
				<button type="submit" class="btn btn-primary">Comment</button>
				{{ form_end(commentForm) }}
			{% endif %}

		</div>
	</div>
</div>{% endblock %}
