{% extends 'base.html.twig' %}

{% block title %}Hello Trick!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">

					<div class="card  mt-4 mb-4">
						<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div class="carousel-inner">
								<div class="carousel-item active" data-bs-interval="10000">
									<img src="{{trick.image}}" class="d-block w-100" alt="{{ trick.title }}">
									<div class="carousel-caption d-none d-md-block"></div>
								</div>
								<div class="carousel-item" data-bs-interval="2000">
									<img src="https://picsum.photos/id/200/400/400" class="d-block w-100" alt="...">
									<div class="carousel-caption d-none d-md-block"></div>
								</div>
								<div class="carousel-item">
									<iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="d-block w-100"></iframe>
									<div class="carousel-caption d-none d-md-block"></div>
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>


					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="mx-auto row d-flex flex-md-row justify-content-md-between justify-content-center">
					<h2>{{trick.title}}</h2>
					<p>Category:
						{{category.name}}
					</p>
					<p>{{trick.description}}</p>
					<p>Created by:{{user.username}}</p>
					<p>Created at:{{trick.creatAt|date("D-M-Y H:i:s ")}}</p>
				</div>
				<a class="btn btn-primary" href="{{ path('app_update', {id: trick.id}) }}" role="button">Update</a>
				<a class="btn btn-danger " href="{{ path('app_delete', {id: trick.id}) }}" role="button">Delete</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<h2>Comments</h2>
			<div>
				{% for comment in comments %}
					<p>{{comment.comment}}</p>
				{% endfor %}
			</div>
			<div>
				{{ form_start(commentForm) }}
				{{form_row(commentForm.comment)}}
				<button type="submit" class="btn btn-primary">Comment</button>
				{{ form_end(commentForm) }}
			</div>
		</div>
	</div>


{% endblock %}
