{% extends 'base.html.twig' %}

{% block title %}Hello Tricks!
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column  justify-content-evenly">
		<div class="row ">
			<div class="col-8 d-flex flex-column  justify-content-center ">
				<h1>Update
					{{trick.title}}</h1>
				{% for image in trick.images %}
					<div class="col-5 d-flex justify-content-md-between justify-content-center  mt-4 mb-4">
						<img src="{{image.imagePath}}" class="img-fluid  w-100" alt="{{ trick.title }}">

					</div>
				{% endfor %}

				{{form_start(form)}}
				{{form_widget(form)}}
				<button type="submit" class="btn btn-primary">Update Trick</button>
				{{ form_end(form) }}
			</div>

		</div>
	</div>
{% endblock %}
